/*---Author: Adib---*/

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to bottom, #a0bedc, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient( to bottom, #a0bedc, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: -o-linear-gradient( to bottom, #a0bedc, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: linear-gradient( to bottom, #a0bedc, #FFFFFF); /* Standard syntax */
}

h1{
    /* text-align: center; */
    margin-left:12em;
    padding:20px 50px;
    color: rgb(0, 60, 160);
    font-family: "Open Sans";
    /* -webkit-margin-before: 0em;
    -webkit-margin-after: 0em; */
}

h2{
    font-size: 1.5em;
}

input{
    margin-bottom:1em;
}
#files, #iFiles{
    padding: 1px;
    background: #fff;
}
#haw_logo{
    padding: 0px 15px;
    float: left;
}

/* ------- From visualisation.css by Anthony ------*/

.jxgbox{
    margin: 20px;
}
#jxgbox2{
    margin-top: 40px;
}
.formField{
    clear : none;
    float : left;
    position : relative;
    padding: 20px 50px;
    width : 300px;
    height : 400px;
}

#sliderParagraph {
	font-family:Tahoma;
	border-color:#999691;
 	background-color: white;
	padding: 0px;
	margin-right: 100px;
}
.greyed {
  border-style: solid;
  background-color: #efede8 !important;
}
.notgreyed {
  border-style: none;
  background-color: white !important;
}

/*----- Tabs -----*/
.tabs {
    width:95%;
    /* align-self: auto; */
    display: block;
    margin: auto;
    border: 1px solid transparent;
    
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 10px;
        float:left;
        list-style:none;
    }
    .tab-links{
        /* -webkit-margin-after: 0em; */
        margin-bottom: 0px;
    }
 
        .tab-links a {
            padding:9px 30px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:5px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            /* display:block; */
            /* border: 1px black solid; */
            /* margin: 0 auto; */
        }


    #tab2{
        padding: 10px 20px;
        display: flex;
        /* flex-direction: row; */
    }

    /*----- audio convolution tab -----*/
    .inputcontainer{
        width: 55%;
        flex-direction: column;
    }

    .inputbox{
        padding: 1em;
        margin: 5px;
        border: 1px black;
        border-radius:3px;
        box-shadow:-1px 1px 1px 1px rgba(0,0,0,0.15);
    }
    
    .outputbox {
        align-self: center;
        width: 45%;
        height: 100%;
        padding: 1em;
        margin: 5px;
        border: 1px black;
        border-radius:3px;
        box-shadow:-1px 1px 1px 1px rgba(0,0,0,0.15);
    }